<ion-header [translucent]="true">
  <ion-toolbar color="somenice">
    <ion-title >
      Component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-label>
    1. chip
  </ion-label>
  <ion-chip>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Avatar Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
</ion-item>
<ion-item>
  <ion-label>
    2. datetime
  </ion-label>
  <ion-datetime [isDateEnabled]="isWeekday"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label>
    3. input
  </ion-label>
  <ion-input label="Username"
  label-placement="floating" fill="outline"
  placeholder="กรอกข้อมูล">
  </ion-input>
</ion-item>
<ion-item>
  <ion-label>
    4. list
  </ion-label>
  <ion-list lines="Full">
    <ion-item>
      <ion-label>ACC</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ME</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IT</ion-label>
    </ion-item>
  </ion-list>
</ion-item>
</ion-content>
