<ion-header [translucent]="true" >
  <ion-toolbar color="dark">
    <ion-title color="cyber">
      Component
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="dark">
<ion-item>
  <ion-label>
   1. Action Sheets
  </ion-label>
  <ion-button id="open-action-sheet">Open</ion-button>
<ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
</ion-item>
<ion-item>
  <ion-label>
   2. Alert Button
  </ion-label>
  <ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="บันทึกแล้ว"
  [buttons]="alertButtons"
></ion-alert>
</ion-item>
<ion-item>
  <ion-label>
   3. Alert Input
  </ion-label>
  <ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="เพิ่มสมาชิก"
  [buttons]="alertButtons1"
  [inputs]="alertInputs"
></ion-alert>
</ion-item>
<ion-item >
  <ion-label>
   4. Badge
  </ion-label>
  <ion-list>
      <ion-badge>ไม่ผ่าน</ion-badge>
  </ion-list>
</ion-item>
<ion-item>
  <ion-checkbox>5. cheakbox</ion-checkbox>

  <!-- <ion-checkbox slot="end"></ion-checkbox> -->
  <!-- <ion-checkbox slot="end"></ion-checkbox> -->
  <!-- <ion-checkbox slot="end"></ion-checkbox> -->
</ion-item>
</ion-content>
